<!DOCTYPE html>
<html lang="en">
    <style>
        h2{
            color:darkgray;
            font-family: 'Times New Roman', Times, serif
        }
    </style>
    <link rel="stylesheet" type="text/css" href="gaya.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;color: brown">
    <center>
        <br><br><br>
        <h1 style="color: chocolate;font-family: 'Courier New', Courier, monospace">
            404 not nound!
        </h1>
        <h2>error bro</h2>
        <h3>COBA LAGI COY!!!!</h3>
    </center>
    
</body>
</html>