<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <img
        width="480px"
        height="240px"
        src="http://localhost:5000/images/one%20piece13.jpg"
    />
<form action="http://localhost:5000/post" method="post">
    <p>
        Nama: <input name="nama" type="text" placeholder="Ketik nama anda"/>
    </p>
    <p>
        Pass: <input name="pass" type="password" placeholder="Ketik Password"/>
    </p>
    <p>
        <input type="submit" value="kirim data"/>
    </p>
</form>

</body>
</html>