<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML</title>
</head>
<body>
    <h1> Sign up</h1>
    <img
        width="200px"
        height="200px"
        src="http://127.0.0.1:5000/pict/foto/batman.jpg"
    />
    <form action="http://localhost:5000/postsignup" method="POST"> 
        <p>
            Nama : <input name="nama" type="text" placeholder="Ketik nama Anda..."/>
        </p>
        <p>
            Pass : <input name="pass" type="password" placeholder="Ketik password..."/>
        </p>
        <p>
            <input type="Submit" value="Kirim data"/>          
        </p>
    </form> 
</body>
</html>